html,
body{
    margin: auto;
    height: 100%;
}

header{
    text-align: center;
    width: 100%;
    background-color: wheat;
    border-bottom: 1px solid gainsboro;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: lightgray;
    border-top: 2px solid turquoise;
    padding: 10px;
}

.instruction-container{
    text-align:center;
    margin: auto;
    padding:20px;
}


.main-container{
    padding: 30px;
    max-width: 90%;
    margin: auto;
    border: 1px solid lightskyblue;
}


.wizard{
    display: block;
    margin: auto;
    padding:20px;
    position: relative;
    max-width: 100%;
    height: auto;
}

#main-banner {
    border: 1px solid lightslategray;
    max-height: 100%;
    margin:auto;
}

h1{
    padding: 10px;
}

p{
    margin: auto;
    padding: 10px;
    font-size: 1.1em; 
}